<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>Position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>w</key>
			<integer>0</integer>
			<key>h</key>
			<integer>21</integer>
		</dict>
		<key>Title</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Normal</key>
				<string></string>
				<key>Highlighted</key>
				<string></string>
			</dict>
			<key>Label</key>
			<dict>
				<key>Text</key>
				<string>Time Signature</string>
				<key>Font Size</key>
				<string>16</string>
				<key>Color</key>
				<dict>
					<key>Normal</key>
					<dict>
						<key>R</key>
						<integer>1</integer>
						<key>G</key>
						<integer>1</integer>
						<key>B</key>
						<integer>1</integer>
					</dict>
					<key>Highlighted</key>
					<dict>
						<key>R</key>
						<integer>0</integer>
						<key>G</key>
						<integer>0</integer>
						<key>B</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>bold</key>
				<true/>
				<key>cursive</key>
				<false/>
				<key>underline</key>
				<false/>
			</dict>
		</dict>
		<key>Buttons</key>
		<dict>
			<key>Button 1</key>
			<dict>
				<key>Icon</key>
				<string>note</string>
				<key>Keycode</key>
				<integer>0</integer>
			</dict>
			<key>Button 2</key>
			<dict>
				<key>Icon</key>
				<string>synkope</string>
				<key>Keycode</key>
				<integer>1</integer>
			</dict>
			<key>Button 3</key>
			<dict>
				<key>Icon</key>
				<string>tab-back</string>
				<key>Keycode</key>
				<integer>2</integer>
			</dict>
			<key>Button 4</key>
			<dict>
				<key>Icon</key>
				<string>tab-forward</string>
				<key>Keycode</key>
				<integer>3</integer>
			</dict>
		</dict>
	</dict>
	<key>View</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>w</key>
		<integer>768</integer>
		<key>h</key>
		<integer>250</integer>
	</dict>
	<key>Panel</key>
	<dict>
		<key>Rows</key>
		<integer>2</integer>
		<key>Columns</key>
		<integer>6</integer>
		<key>Position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>w</key>
			<integer>768</integer>
			<key>h</key>
			<integer>206</integer>
		</dict>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>2
2</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>3
2</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>2
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>3
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>4
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.174</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>5
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>6
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>7
4</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>6
8</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>7
8</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.166</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>9
8</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Cells</key>
				<real>0.174</real>
				<key>Title</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Label</key>
					<dict>
						<key>Text</key>
						<string>12
8</string>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Font Size</key>
						<integer>24</integer>
						<key>Color</key>
						<dict>
							<key>Normal</key>
							<dict>
								<key>R</key>
								<integer>255</integer>
								<key>G</key>
								<integer>255</integer>
								<key>B</key>
								<integer>255</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
							<key>Highlighted</key>
							<dict>
								<key>R</key>
								<integer>0</integer>
								<key>G</key>
								<integer>0</integer>
								<key>B</key>
								<integer>0</integer>
								<key>A</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Bold</key>
						<false/>
						<key>Cursive</key>
						<false/>
						<key>Underline</key>
						<false/>
					</dict>
				</dict>
				<key>Background</key>
				<dict>
					<key>Image</key>
					<dict>
						<key>Normal</key>
						<string></string>
						<key>Highlighted</key>
						<string></string>
					</dict>
					<key>Color</key>
					<dict>
						<key>Normal</key>
						<dict>
							<key>R</key>
							<integer>40</integer>
							<key>G</key>
							<integer>40</integer>
							<key>B</key>
							<integer>40</integer>
							<key>A</key>
							<integer>0</integer>
						</dict>
						<key>Highlighted</key>
						<dict>
							<key>R</key>
							<integer>255</integer>
							<key>G</key>
							<integer>255</integer>
							<key>B</key>
							<integer>255</integer>
							<key>A</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Keycode</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
